/.vs
/Binaries
/DerivedDataCache
/Intermediate
/Plugins/MultiplayerSessions/Binaries
/Plugins/MultiplayerSessions/Intermediate
/Saved
/Content/AnimStarterPack
/Content/MilitaryWeapSilver
/Content/_Game/Models
